# Build directory
build/
bin/

# Qt/CMake artifacts
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
Makefile
resources/qrc_resources.cpp
*_autogen/

# Executables
NBFC_UI
NBFC_fan

# User specific
.vscode/
.qmake.stash
